
.titlename{
    text-align: center;
    color: orangered;
    font-size: 80px;
}
.loginform{
    height: 100px;
    background-color: aquamarine;
    margin-left: 700px;
    margin-right: 740px;
    border-radius: 20px;
    margin-top: 150px;
}
.innerform{
    
}
    
